.pageInfo {
  width: 100%;
  float: left;
  min-height: 462px;
}

.pageInfo .newsList {
  min-height: 112px;
  padding-left: 140px;
  width: 100%;
  float: left;
  position: relative;
  padding-bottom: 20px;
  border-bottom: 1px solid #dae1e5;
  text-decoration: none;
  color: #000;
  padding-right: 20px;
  padding-top: 20px;
  transition: 0.5s;
}
.pageInfo .newsList:hover {
  background: rgba(255, 124, 99, 0.1);
  transition: 0.5s;
}
.pageInfo .newsList:last-child {
  margin-bottom: 0;
  border-bottom: 1px solid #dae1e5;
}
.pageInfo .newsList__img {
  width: 100px;
  height: 100px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  transform: translate(-0px, -50px);
  left: 20px;
  background: #f3f3f3;
  border-radius: 5px;
}
.pageInfo .newsList__img img {
  width: 100px;
  height: 100px;
  position: absolute;
  background: #f3f3f3;
  border-radius: 5px;
}
.truncate h3 {
  font-size: 16px;
  font-weight: 600;

  margin-top: 0px;
  margin-bottom: 10px;
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.pageInfo .newsList .desc {
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
}
/* new item section */
.pageInfo .spinner {
  text-align: center;
  padding-top: 30px;
}
